.hero-slider {
  position: relative;
  width: 100%; /* Take full width of the parent */
  overflow: hidden; /* Hide overflow to prevent showing parts of other slides */
}

.hero-slider-wrapper {
  display: flex;
  transition: transform 1s ease; /* Smooth slide transition */
}

.hero-slide {
  flex: 0 0 100%; /* Ensure each slide takes up the full width */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
