/* src/style/StartOverlay.css */
.start-overlay {
  position: fixed; /* Position it fixed to cover the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; /* Ensure it appears above other content */
}

.overlay-content {
  background-color: white; /* White background for content */
  padding: 50px 100px;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}


.overlay-content h2 {
  margin-bottom: 20px; /* Spacing below the question */
}

.overlay-content button {
  margin: 10px; /* Spacing for buttons */
  padding: 10px 20px; /* Button padding */
  font-size: 16px; /* Button text size */
  border: none; /* Remove default button border */
  border-radius: 5px; /* Rounded corners */
  background-color: #C95F9A; /* Button background color */
  color: white; /* Button text color */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s; /* Smooth background transition */
}

.overlay-content button:hover {
  background-color: #7F3F8D; /* Darker shade on hover */
}


