.nav-bar {
  display: flex;
  padding: 40px 20px;
  justify-content: space-evenly; /* Adjust spacing for different sizes */
  align-items: center;
  font-family: 'Poppins', Courier, monospace;
}

.logo {
  max-width: 150px;
  height: auto;
  padding-right: 20px;
  
}

.nav-bar-inner {
  list-style: none;
  display: flex;
  gap: 80px; /* Default gap for larger screens */
}

.nav-bar-item {
  margin: 0;
  color: #3F0071;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
}

.nav-bar-item:hover {
  color: #A1007A;
  transform: scale(1.05);
}

.cart-icon {
  cursor: pointer;
}

/* Media query for tablets (1024px and 768px) */
@media (max-width: 1024px) {
  .nav-bar {
    padding: 30px 15px;
  }
  .nav-bar-inner {
    gap: 50px; /* Reduce gap for smaller screens */
  }
  .nav-bar-item {
    font-size: 16px; /* Adjust font size */
  }
}

@media (max-width: 768px) {
  .nav-bar {
    padding: 20px 10px;
    justify-content: space-evenly;
  }
  .nav-bar-inner {
    gap: 30px;
  }
  .nav-bar-item {
    font-size: 15px;
  }
}

/* Media query for mobile devices (425px, 375px, 325px) */
@media (max-width: 425px) {
  .nav-bar {
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    padding: 15px 10px;
    text-align: center;
  }
  .nav-bar-inner {
    flex-direction: column; /* Make the nav items vertical */
    gap: 20px;
    padding: 0px;
  }
  .nav-bar-item {
    font-size: 14px;
  }
  .logo{
    padding-right: 0px;
    margin-left: 40px;
  }
}

@media (max-width: 375px) {
  .nav-bar {
    padding: 10px 5px;
  }
  .nav-bar-item {
    font-size: 13px;
  }
}

@media (max-width: 325px) {
  .nav-bar {
    padding: 8px 5px;
  }
  .nav-bar-item {
    font-size: 12px;
  }
}
