/* Shop container */
.shop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Shop title styling */
.shop-title {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

/* Shop list container for items */
.shop-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* Allows items to wrap into the next line */
    max-width: 1100px;
}

/* Responsive adjustments */

/* For tablet and medium screens (1024px and 768px) */
@media (max-width: 1024px) {
    .shop-list {
        gap: 20px; /* Reduce gap between items */
        max-width: 1000px;
    }
    .shop-title {
        font-size: 32px; /* Reduce font size of the title */
    }
}

/* For mobile screens (425px, 375px, 325px) */
@media (max-width: 768px) {
    .shop-list {
        justify-content: space-between; /* Adjust item spacing */
        max-width: 700px;

    }
    .shop-title {
        font-size: 28px; /* Further reduce font size */
    }
}

@media (max-width: 425px) {
    .shop-list {
        justify-content: center;
        gap: 10px; /* Even smaller gap for narrow screens */
        max-width: 400px;
    }
    .shop-title {
        font-size: 24px; /* Reduce the title size for mobile */
        text-align: center;
    }
}

@media (max-width: 375px) {
    .shop-list {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center the items */
        max-width: 350px;
    }
    .shop-title {
        font-size: 22px;
    }
}

@media (max-width: 325px) {
    .shop-title {
        font-size: 20px; /* Smaller font size for the smallest screens */
    }
}
